* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: rgb(238, 238, 238);
    background-color: #000000;
    letter-spacing: 1px;
}

nav {
    background-color: rgb(0,0,0);
    color: white;
    display: flex;
    justify-content: flex-end;
}


/**FOOTER THAT WILL BE APPLIED FOR EACH PAGE**/
footer {
    background-color: #000000;
    color: white;
    border-top: 1px solid rgb(44, 44, 44);
}

.footer-container {
    width: 100%;
    padding: 2%;
}

.socials-icons {
    display: flex;
    justify-content: center;
}

.socials-icons a {
    text-decoration: none;
    padding: 0.5%;
    background-color: white;
    margin: 2%;
    border-radius: 40%;
    color: black;
}

.socials-icons a i {
    font-size: 1.7em;
}

.socials-icons a:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}

.footer-bottom {
    padding: 1% 0;
}

.footer-bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.footer-bottom ul li a {
    color: white;
    text-decoration: none;
    margin: 2em;
}

/*MENU WHEN USER PRESSES HAMBURGER MENU*/
/*FOR MOBILE DEVICES / SMALLER SCREENS*/
nav .mainMenu {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #25253a;
    transition: top 1.3s ease;
    display: none; 
}

nav .mainMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 10%;
    /* margin: 2%; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;

}

nav .mainMenu li a:hover {
    background-color: #464f66;
    transition: 0.8s;
}

nav .openMenu {
    font-size: 1.4em;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 4em;
    display: block;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

/*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ 

#after-intro-button1, #after-intro-button2 {
    background-color: transparent;
    color: rgb(255, 255, 255);
    overflow: visible;
    border: 1px solid rgb(255, 255, 255); 
    letter-spacing: 1px;
    margin-left: 10px;
    padding: 1.3em 5em;
    cursor: pointer;
    border-radius: 8px;
}

#after-intro-button1:hover, #after-intro-button2:hover {
    transition: 0.5s ease;
    background-color: #9ca1a7;
} 

.homepage-main::after,
.homepage-main::before {
    position: absolute;
    content: '';
    width: 140px;
    height: 40px;
    background-color: #000000;
    bottom: 1.6em;
}

.homepage-main::before {
    right: 50%;
    transform: skew(0, 20deg);
    z-index: 5;
}

.homepage-main::after {
    left: 50%;
    transform: skew(0, -20deg);
} 

.home {
    width: 100%;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
}

.home-content {
    max-width: 800px;
}

.home-content h2 {
    font-size: 2rem;
}

.home-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.9em;
    margin: 25px 0 30px;
}

@keyframes fade-in {
    to { scale: .95; opacity: 1}
} 

.homepage-work {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    background-color: #0f0f17;
}

.homepage-work-content {
    max-width: 800px;
}

.homepage-work-content h3 {
    font-size: 2.4rem;
    text-align: left;
    margin: 60px 0;
}

.homepage-work-content-section {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

.homepage-work-content-section img {
    width: 100%;
    max-width: fit-content;
    border-radius: 8px;
    margin-bottom: 2px;
}

.homepage-work-content-section h4 {
    font-size: 1.9rem;
    text-align: left;
    font-weight: bolder;
}

.homepage-work-content-section-details {
    text-align: left;
    font-size: 1rem;
    margin: 8px 0;
}

.homepage-skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    background-color: #0f0f17;
}

.homepage-skills-content {
    max-width: 800px;
}

.homepage-skills-content h3 {
    font-size: 2.4rem;
    text-align: left;
    margin: 60px 0;    
}

.homepage-skills-content .row {
    display: flex;
    flex-wrap: wrap;
}

.homepage-skills-content .item {
    text-align: center;
    padding: 1.5em 0 3em 0;
    background-color: #151521;
    margin: 1.5em 0;
    flex: 0 0 calc(50% - 2em);
    margin: 1em;
}

.homepage-skills-content .item span {
    font-size: 5em;
}

.homepage-skills-content .item h2 {
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}

.homepage-skills-content  .item:hover {
    background-color: #08080c;
    transition: 0.2s ease-in;
}

.row ul {
    list-style-type: none;
}

.row ul li {
    padding: 1%;
}

/*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ 

.aboutpage-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: #0f0f17;
}

.aboutpage-main-content {
    max-width: 800px;
}

.aboutpage-main-content h3 {
    font-size: 2.4rem;
    text-align: left;
}

.aboutpage-main-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    margin: 25px 0;
    text-align: left;
}

.aboutpage-main-content-section h5 {
    text-align: left;
    font-size: 1.1rem;
    color: rgb(173, 209, 230);
}

/*******FOR CONTACT.HTML******/ /*******FOR CONTACT.HTML******/ /*******FOR CONTACT.HTML******/ 

.contactpage-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: #0f0f17;
}

.contactpage-main-content {
    max-width: 800px;
    width: 100%;

}
.contactpage-main-content h3 {
    font-size: 2.4rem;
    text-align: left;    
    /* margin-top: 25px; */
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: 100%;
    /* min-height: 100vh; */
    /* padding: 2em; */
    overflow: hidden;
}

.form {
    width: 100%;
    font-size: 1rem;
}

.contact-info {
    background-color: rgb(13, 13, 13);
    position: relative;
    padding: 2.5em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.contact-info .text {
    margin: 1em 0 1.2em 0;
    text-align: center;
}

.contact-info .information {
    display: flex;
    align-items: center;
    color: white;
    margin: 1em;
}

.contact-form {
    background-color: rgb(13, 13, 13);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

form {
    padding: 3%;
    z-index: 2;
    overflow: hidden;
    position: relative;
    color: white;
}

.input-container {
    position: relative;
    margin: 3%;
}

.input {
    width: 100%;
    padding: 2%;
    border: 2px solid white;
    background-color: transparent;
    outline: none;
    letter-spacing: 0.5px;
    border-radius: 10px;
    color: white;
}

.input:focus {
    border: 2px solid rgb(74, 146, 255);
    transition: 0.2s ease-in-out;
}

textarea {
    padding: 1%;
    min-height: 160px;
    border-radius: 20px;
    resize: none;
    overflow-y: none;
}

.submit-btn {
    padding: 0.6em 1.4em;
    background-color: transparent;
    color: white;
    overflow: visible;
    border: 2px solid rgb(255, 255, 255);
    letter-spacing: 1px;
    margin-left: 3%; 
    padding: 1.5em 7em;
    cursor: pointer;
    border-radius: 8px;
}

.submit-btn:hover {
    transition: 0.5s ease;
    background-color: #9ca1a7;
}

.icon {
    font-size: 2.1em;
    margin-right: 0.3em;
}
