@media only screen and (max-width: 1140px) {

            .home {
                padding: 0px 0% 0;
                text-align: center;
                justify-content: center;
            }
}

@media only screen and (max-width: 750px) {

    .footer-bottom ul {
        margin-top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom ul li {
        margin: 4%;
    }

    .home-content {
        font-size: 0.6rem;
        margin: 0 16px;
    }

    .home-content h1, h2 {
        font-size: 3.1rem;
    }

    .homepage-skills-content .item {
        font-size: 1rem;
    }

    #after-intro-button1 {
        width: 80%;
        margin-bottom: 15px;
    }

    #after-intro-button2 {
        width: 80%;
    }    
}

