header {
    background-color: rgb(243, 243, 243);
}

.home {
    background-color: rgb(243, 243, 243);
    color: black;
}

nav {
    background-color: rgb(243, 243, 243);    
}

/* NAVIGATION MENU */

.nav .mainMenu {
    background-color: rgb(243, 243, 243);        
}

#toggle-theme-btn {
    color: black;
}

.fa-bars {
    color: black;
}

footer {
    background-color: rgb(243, 243, 243);    
    border-top: 1px solid white;
}

.footer-bottom ul li a {
    color: black;
}

/* INDEX.HTML */

.homepage-main::after,
.homepage-main::before {
    background-color: rgb(243, 243, 243);
}

.homepage-work {
     background-color: rgb(255, 255, 255);
    color: black;   
}

#after-intro-button1, #after-intro-button2 {
    color: black;
    overflow: visible;
    border: 1px solid rgb(0, 0, 0); 
}

.homepage-work-content-section img {
    border: 1px solid rgb(215, 215, 215);
}

/* ABOUT.HTML */

.aboutpage-main {
    background-color: rgb(255, 255, 255);    
    color: black;
}

.aboutpage-main-content-section h5 {
    color: rgb(86, 167, 214);
}

/* CONTACT.HTML */

.contactpage-main {
    background-color: rgb(255, 255, 255);    
    color: black;    
}

form {
    color: black;
}

.input {
    border: 2px solid black;
}

.submit-btn {
    border: 2px solid black;
    color: black;
}