* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(238, 238, 238);
    background-color: #1d1d2d;
}

nav {
    background-color: rgb(0,0,0);
    color: white;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: underline;
}


/**FOOTER THAT WILL BE APPLIED FOR EACH PAGE**/
footer {
    background-color: #000000;
    color: white;
    border-top: 1px solid rgb(49, 49, 49);
}

.footer-container {
    width: 100%;
    padding: 2%;
}

.socials-icons {
    display: flex;
    justify-content: center;
}

.socials-icons a {
    text-decoration: none;
    padding: 0.5%;
    background-color: white;
    margin: 2%;
    border-radius: 40%;
    color: black;
}

.socials-icons a i {
    font-size: 1.7em;
}

.socials-icons a:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}

.footer-bottom {
    padding: 1% 0;
}

.footer-bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.footer-bottom ul li a {
    color: white;
    text-decoration: none;
    margin: 2em;
}

@media only screen and (max-width: 750px) {

    .footer-bottom ul {
        margin-top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom ul li {
        margin: 4%;
    }

}



/*MENU WHEN USER PRESSES HAMBURGER MENU*/
/*FOR MOBILE DEVICES / SMALLER SCREENS*/
nav .mainMenu {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #25253a;
    transition: top 1.3s ease;
    display: none; 
}

nav .mainMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 10%;
    /* margin: 2%; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;

}

nav .mainMenu li a:hover {
    background-color: #464f66;
    transition: 0.8s;
}

nav .openMenu {
    font-size: 1.2em;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2em;
    display: block;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

/*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ 

#after-intro-button1, #after-intro-button2 {
    background-color: #d9e1ea;
    color: rgb(0, 0, 0);
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-left: 2%; 
    padding: 1.2em 5em;
    cursor: pointer;
    border-radius: 8px;
}

#after-intro-button1:hover, #after-intro-button2:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
} 

.homepage-main::after,
.homepage-main::before {
    position: absolute;
    content: '';
    width: 140px;
    height: 40px;
    background-color: #1d1d2d;
    bottom: 1.6em;
}

.homepage-main::before {
    right: 50%;
    transform: skew(0, 20deg);
    z-index: 5;
}

.homepage-main::after {
    left: 50%;
    transform: skew(0, -20deg);
} 

.home {
    width: 100%;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    /* gap: 5em; */
    /* padding: 30px 12% 0; */
}

.home-content {
    max-width: 800px;
    /* padding: 2%; */
}

.home-content h2 {
    font-size: 2rem;
}

.home-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.9em;
    margin: 25px 0 30px;
}

.about {
    background-color: #13131e;
    padding: 5% 8%;
    gap: 8em;
    font-size: 1.2em;
    line-height: 1.5;
}

.about-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1; 
    opacity: 1; 
}

@keyframes fade-in {
    to { scale: .95; opacity: 1}
} 


.about-content h2 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 2%;
}

.about-content p {
    margin: 2em;
    letter-spacing: 1px;
}

#about-button {
    background-color: #d9e1ea;
    color: rgb(0, 0, 0);
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 2%; 
    padding: 1.5em 7em;
    cursor: pointer;
    border-radius: 8px;
}

#about-button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about-button:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
}